:root {
  --sidebar-text: #ffffff !important;
  --text-default: #ffffff !important;
  --text-md: #ffffff !important;
  --text-sm: #ffffff !important;
}

.dark {
  --sidebar-text: #ffffff !important;
  --text-default: #ffffff !important;
  --text-md: #ffffff !important;
  --text-sm: #ffffff !important;
}

p, h1, h2, h3, h4, h5, h6, span, a {
  color: #ffffff !important;
}